/* :root {
  --base: rgb(30, 30, 46);
  --text: rgb(205, 214, 244);
  --border: rgb(52, 40, 121);
  --yellow: rgb(249, 226, 175);
  --peach: rgb(250, 179, 135);
  --blue: rgb(137, 180, 250);
  --purple: rgb(203, 166, 247);
  --green: rgb(166, 227, 161);
  --red: rgb(235, 160, 172);
  --red-bright: rgb(255, 78, 78);
  --orange: rgb(255, 183, 27);
  --green-bright: rgb(109, 255, 95);
  --test: rgba(87, 87, 87, 0.443);
} */

@define-color base rgba(87, 87, 87, 0.443);
@define-color text rgb(205, 214, 244);
@define-color border rgb(52, 40, 121);
@define-color yellow rgb(249, 226, 175);
@define-color peach rgb(250, 179, 135);
@define-color blue rgb(137, 180, 250);
@define-color purple rgb(203, 166, 247);
@define-color green rgb(166, 227, 161);
@define-color red rgb(235, 160, 172);
@define-color red-bright rgb(255, 78, 78);
@define-color orange rgb(255, 183, 27);
@define-color green-bright rgb(109, 255, 95);

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  color: @text;
  background: transparent;
}

tooltip {
  background: @base;
  border-radius: 10px;
  /* border-width: 1px;
  border-style: solid;
  border-color: #11111b; */
}

#workspaces button {
  padding: 0px;
  color: rgb(182, 182, 182);
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: rgba(174, 174, 174, 0.292);
  border-radius: 6px;
}

#workspaces button.active {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.544);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 7px;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    padding-left 200ms cubic-bezier(0.4, 0.6, 0.8, 1);
}

#workspaces button:hover {
  background: rgba(255, 234, 208, 0.615);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

#power-profiles-daemon {
  border-right: 0px;
  border-left: 0px;
  border-radius: 10px 0px 0px 10px;
}

#power-profiles-daemon.performance {
  color: @red-bright;
}
#power-profiles-daemon.balanced {
  color: @orange;
}
#power-profiles-daemon.power-saver {
  color: @green-bright;
}

#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  color: @yellow;
  background: #4f4f4f;
  border-radius: 7px;
  padding-left: 6px;
  padding-right: 9px;
  margin-left: 6px;
  /* padding: 0px; */
  margin: 4px;
}
#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover {
  color: #ffffff;
  background: #4b4b4b;
}

#group-power {
  margin: 3px;
  border-radius: 10px;
  background: #202131;
  margin-right: 10px;
  /* border: 1px solid @border; */
}


#custom-keypress,
#taskbar,
#power-profiles-daemon,
#custom-mpris,
#custom-cava,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight,
#cpu,
#memory,
#hyprland-workspaces,
#custom-tlp,
#custom-notification {
  background: @base;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  /* border: 1px solid @border; */
}

#custom-notification {
  background: @base;
  border-radius: 9px;
  margin-right: 10px;
  padding-left: 6px;
  padding-right: 4px;
  /* border: 1px solid @border; */
}

#taskbar {
  background: @base;
  border-radius: 9px;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

#taskbar button {
  background: @base;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 8px;
}

#taskbar button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#taskbar button.active {
  background: rgba(153, 153, 153, 0.603);
}

#power-profiles-daemon {
  /* border: 1px solid @border; */
  border-right: 0px;
}

#temperature.critical {
  color: @red;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#custom-menu {
  color: @yellow;
  background: @base;
  border-radius: 9px;
  padding-left: 7px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  /* border: 1px solid @border; */
}

#custom-cava {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#custom-mpris {
  color: @yellow;
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: @base;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#clock {
  color: @peach;
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
  border-right: 0px;
}

#network {
  color: @yellow;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}

#bluetooth {
  color: @blue;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
  border-left: 0px;
}

#pulseaudio {
  color: @blue;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: @purple;
  border-left: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#battery {
  color: @green;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  margin-left: 0px;
}

#temperature {
  border-left: 0px;
  border-right: 0px;
}

#cpu {
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}
#memory {
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
}
