* {
    border: none;
    /* border-radius: 0px; */
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;

}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

window#waybar:hover {
    background-color: rgb(178, 56, 56);
}

tooltip {
    background: #2a3039;
    color: #111111;
    border-radius: 7px;
    border-width: 0px;
}

#taskbar {
    background-color: #2a3039;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

#workspaces {
    background-color: #2a3039;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

#workspaces button {
    background-color: #515151;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    border-radius: 8px;
    font-size: 15px;
}

#workspaces button.active {
    background-color: #a4b0b1;
    color: #000000;
    /* cursor: pointer; */
}

#workspaces button.urgent {
    background-color: #f7768e;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #414868;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 1px;
    margin: 2px;
    padding: 2px;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: #a4b0b1;
    animation: tb_active 2s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
    background: #7aa2f7;
    color: #cfc9c2;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}


#custom-cliphist,
#pulseaudio,
#custom-turbo-fan-toggle,
#custom-rofi-app-menu {
    background-color: #2a3039;
    color: #ffffff;
    padding-left: 8px;
    padding-right: 12px;
    font-size: 20px;
    border-radius: 10px;
}

#pulseaudio {
    margin-left: 4px;
}

#custom-rofi-app-menu {
    margin-left: 6px;
}

#backlight,
#network,
#battery,
#tray,
#clock,
#privacy {
    background-color: #2a3039;
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
    border-radius: 10px;
}

#custom-power {
    font-size: 14px;
    background-color: #2a3039;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 14px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 10px;
}


#mpris {
    font-size: 10px;
    background-color: #2a3039;
    color: #ffffff;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 10px;
}

#clock,
#backlight,
#network,
#pulseaudio,
#battery {
    font-size: 10px;
}

#privacy-item.audio-in {
    color:#6aff00;
    animation: blink 0.5s infinite;
}

#privacy-item.audio-out {
    color:#ff7300;
    /* animation: blink 2s infinite; */
}

#privacy-item.screenshare {
    color:#ffb956;
    /* animation: blink 2s infinite; */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#custom-turbo-fan-toggle {
    animation: blink 300ms infinite;
}
