* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;
    /* margin-top: 1px; */
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

window#waybar:hover {
    background-color: rgb(178, 56, 56);
}

tooltip {
    background: #2a3039;
    color: #111111;
    border-radius: 7px;
    border-width: 0px;
}

#taskbar,
#workspaces {
    background-color: #2a3039;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

#workspaces button {
    background-color: #515151;
    color: #ffffff;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.active {
    background-color: #a4b0b1;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #f7768e;
    color: #ffffff;
}

#workspaces button.special {
    background-color: #ff4668;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #414868;
    color: #ffffff;
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    border-radius: 8px;
    margin: 2px;
    padding: 2px;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: #a4b0b1;
    animation: tb_active 2s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
    background: #ff4747;
    color: #cfc9c2;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}

#custom-waykey,
#custom-cliphist,
#pulseaudio,
#custom-turbo-fan-toggle,
#custom-rofi-app-menu,
#backlight,
#network,
#battery,
#tray,
#clock,
#privacy,
#cpu,
#memory,
#temperature,
#custom-power,
#mpris {
    background-color: #2a3039;
    color: #ffffff;
    border-radius: 10px;
    padding: 0 8px;
}

#custom-cliphist,
#pulseaudio,
#custom-turbo-fan-toggle {
    padding-right: 12px;
    font-size: 20px;
}


#pulseaudio {
    margin-left: 4px;
}

#custom-rofi-app-menu {
    margin-left: 6px;
}

#backlight,
#network,
#battery,
#tray,
#clock,
#privacy,
#cpu,
#memory,
#temperature {
    font-size: 20px;
    margin: 0 4px;
}

#memory {
    margin-right: 8px;
}

#cpu {
    margin-left: 8px;
}

#cpu,
#memory,
#temperature,
#clock,
#backlight,
#network,
#pulseaudio,
#battery {
    font-size: 10px;
}

#custom-power {
    font-size: 14px;
    padding: 0 14px;
    margin: 0 4px;
}

#mpris {
    font-size: 10px;
    padding: 0 12px;
}

#privacy-item.audio-in {
    color: #6aff00;
    animation: blink 0.5s infinite;
}

#privacy-item.audio-out {
    color: #ff7300;
    animation: blink 2s infinite;
}

#privacy-item.screenshare {
    color: #ffb956;
    animation: blink 2s infinite;
}

#custom-turbo-fan-toggle {
    animation: blink 300ms infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}